<!doctype html>
<html ng-app="dataVisualizationsAndAngularJs">
  <head>
    <meta charset="utf-8">
    <title>dataVisualizationsAndAngularJs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div layout="vertical" layout-fill ng-controller="MainController as main">
    
      <md-content>
        <header>
          <acme-navbar creationDate="main.creationDate" />
        </header>
    
        <section class="jumbotron">
          <h1>'Allo, 'Allo!</h1>
          <p class="lead">
            <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
            Always a pleasure scaffolding your apps.
          </p>
          <md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>
          <p>
            With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']" />
          </p>
        </section>
    
        <div class="techs" layout-align="center">
          <md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
            <div class="thumbnail">
              <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
              <div class="caption">
                <h3>{{ awesomeThing.title }}</h3>
                <p>{{ awesomeThing.description }}</p>
                <p><a ng-href="{{ awesomeThing.url }}">{{ awesomeThing.url }}</a></p>
              </div>
            </div>
          </md-card>
        </div>
      </md-content>
    
    </div>
    

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
